<br><br><br><br>

<div class="jumbotron5 jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bonjour, <%= current_user.first_name %></h1>
  </div>
</div>
<br>
<div class="container">

  <div class="row">
    <div class="col-md-7">
      <img class="img-fluid" src="https://images.pexels.com/photos/1287518/pexels-photo-1287518.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="">
    </div>
    <div class="col-md-5">
      <hr style="border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 0;">
      <h3 style="color:#635255; font-size:20px;font-family: 'Hammersmith One', sans-serif;">Prénom : <i style="font-size:13px;"><%= current_user.first_name %></i></h3><br>
      <h3 style="color:#635255; font-size:20px;font-family: 'Hammersmith One', sans-serif;">Nom : <i style="font-size:13px;"><%= current_user.last_name %></i></h3><br>
      <h3 style="color:#635255; font-size:20px;font-family: 'Hammersmith One', sans-serif;">Email : <i style="font-size:13px;"><%= current_user.email %></i></h3>
      <hr style="border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 0;">

      <div class="accordion" id="accordionExample">
        <div class="card" style="background-color:#F4F2F2; border-radius:5px;">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color:#635255;text-decoration:none;">Modifier mon mot de passe</button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <h2>Email :</h2>
                  <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email" <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </p>
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>
                </div>
                <br>

                <!-- Modifier mon mdp -->
                <div class="field">
                  <h2>Mot de passe :</h2>
                  <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password" <%= f.password_field :password, autocomplete: "new-password" %>
                    <% if @minimum_password_length %>
                      <br />
                      <em><%= @minimum_password_length %> characters minimum</em>
                    <% end %>
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <br>

                <!-- Confirmer mon mdp -->
                <div class="field">
                  <h2>Confirmer le mot de passe :</h2>
                  <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password" <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <br>

                <!-- Current mdp -->
                <div class="field">
                  <h2>Mot de passe actuel :</h2>
                  <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password" <%= f.password_field :current_password, autocomplete: "current-password" %>
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>

                <div class="field">
                  <p class="control">
                    <button <%= f.submit "Modifier", class:"button is-success" %> Modifier</button>
                  </p>
                </div>
                <%end%>
            </div>
          </div>
        </div>

        <hr style="border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 10px; height: 0;">

        <div class="accordion text-center" id="accordionExample">
          <div class="card" style="background-color:#F4F2F2; border-radius:5px;"">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color:#635255;text-decoration:none;">Modifier mon profil</button>
              </h2>
            </div>

            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body text-left">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field">
                <h2>Prénom:</h2>
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="first_name" placeholder="first_name"<%= f.text_field :first_name %>
                  <span class="icon is-small is-left">
                    <i class="fas fa-user-secret"></i>
                  </span>
                </p>
              </div>

              <div class="field">
                <h2>Nom:</h2>
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="last_name" placeholder="last_name"<%= f.text_field :last_name %>
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>

              <div class="field">
                <h2>Email :</h2>
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email" <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
              </div>

              <div class="field">
                <h2>Mot de passe actuel :</h2>
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password" <%= f.password_field :current_password, autocomplete: "current-password" %>
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div><br>

              <div class="actions text-center">
                <button <%= f.submit "Modifier", class:"button is-success" %> Modifier</button>
              </div>
            <% end %>

            <hr style="border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 0;">

          </div>

            <h2>Malheureux ? 🙁</h2><br>
            <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"button is-danger"%>
          <br>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
</div>
