<div class="container">
  
  <div class="card-columns">
  
    <% @items.each do |item|%>
        <a href="<%=item_path(item.id)%>" class="d-block mb-8">
          <img class="img-fluid img-thumbnail" src='<%= item.image_url %>' alt="">
        </a>

    <% end %>

  </div>
  
</div>

<div class="container">
  <div class="card-columns">
    <% @items.each do |item|%>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-60">
          <%= image_tag src="", class:"card-img-top"%>
          <div class="card-body">
            <h2 class="card-title"><em><strong><%= item.title %></strong></em></h2>
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src='<%= item.image_url %>' alt="">
            </a>
          </div>
          <div class="card-footer">
            <%= link_to  "Plus d'infos", item_path(item.id), :class => "btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>