<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%=@firstname%> et merci pour ton achat !</h1>
    <p>
      Tu as passé une commande chez <%= @url %> en utilisant l'e-mail suivant : <%= @email %>.
    </p>
    <p>
    Voici la photo que tu as acheté : 
    <br>
    <img src="<%=@item_url%>" alt="petit chaton si mignon" style="width:40%; height: auto">
    <br>
    </p>
    <%= %> 
    <p>
      Mignon n'est-ce pas ?
      <br>
      Pour accéder à ton espace client et commander de nouvelles photos, connecte-toi via : <%=@url%>/login.
    </p>
    <p> À très vite sur Chaton-mignon.fr !
  </body>
</html>
<!--Quand un utilisateur passe une commande, le site doit lui envoyer un email avec la photo de chaton, et un wording pour lui dire merci toussa. -->