<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <center>
    <h1>Salut <%=@firstname%> et merci pour ton achat !</h1>
    <p>
      Tu as passé une commande (n° <%=@order_id%>) chez <%= @url %> en utilisant l'e-mail suivant : <%= @email %>.
    </p>
    <h3>
    Voici la photo que tu as acheté au doux prix de <%= @item_price %> €: 
    <br>
    <br>
    <br>
    <img src="<%=@item_url%>" alt="petit chaton si mignon" style="width:40%; height: auto">
    <br>
    </h3>
    <%= %> 
    <h4>
      Mignon n'est-ce pas ?
      <br>
      Pour accéder à ton espace client et commander de nouvelles photos, connecte-toi via : <%=@url%>/login.
    <br>
    </h4>
    <p> À très vite sur <%=@url%> !
  </body>
  </center>
</html>
<!--Quand un utilisateur passe une commande, le site doit lui envoyer un email avec la photo de chaton, et un wording pour lui dire merci toussa. -->