<br><br><br><br><br><br><br><br>

<ul>
    <% @items.each do |item| %>
        <img src="<%= item.image_url %>"> (item image)
        <li> (title) <%= item.title %></li>
        <p> Description : <%= item.description %></p>
        <p> Prix : <%= item.price %></p>
    <% end %>
</ul>
<p> global_amount = <%= @global_amount %> </p>


