<br>
<br>
<br>
<br>


<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>

<ul>
    <% @items.each do |item| %>
        <img src="<%= item.image_url %>"> (item image)
        <li> (title) <%= item.title %></li>
        <p> Description : <%= item.description %></p>
        <p> Prix : <%= item.price %></p>
    <% end %>
</ul>
<p> global_amount = <%= @global_amount %> </p>


