<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-lg-10">
                <div class="col-md-10 offset-md-2">
                  <%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin mt-3" } do |f| %>
                    <div style="font-family:'Source Code Pro', monospace">
                    <h1 class="h1 mb-3 font-weight-normal text-center">Se connecter</h1><hr>
                    </div>
                    <% if devise_error_messages!.empty? %>
                    <% else %>
                      <div class="alert alert-danger" role="alert">
                        <%= devise_error_messages! %>
                      </div>
                    <% end %>
                    <div class="field">
                      <%= f.label :email, "Ton email" %><br />
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                    </div>
                    <div class="field">
                      <%= f.label :password %><br />
                      <%= f.password_field :password, autocomplete: "current-password", class: "form-control"%>
                    </div>
                    <% if devise_mapping.rememberable? %>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                    <% end %>
                    <div class="actions mt-5">
                      <div style="font-family:'Source Code Pro', monospace">
                      <%= f.submit "Se connecter", class: "btn btn-lg btn-outline-dark btn-block" %><hr class="my-2">
                      <a class="btn btn-sm btn-outline-secondary btn-block" <%= link_to "S'inscrire", new_user_registration_path %></a>
                      <a class="btn btn-sm btn-outline-secondary btn-block" <%= link_to "Mot de passe perdue ?",  new_user_password_path %></a>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
