<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut Administrateur une nouvelle commande a été passé</h1>
    <p>
      Une commande a été passé chez <%=@url%> avec l'e-mail suivant : <%=@email%>.
      <br>
    <p>
      Le client s'appelle <%=@firstname%> <%=@lastname%>.
    </p>
    <br>
      le numéro de commande est : <%=@order_id%>.
      <br>
      Il a acheté la/les photo(s) n° <%=@items_id_array%>.
      <br>
       <!--<img src="<%=@item_url%>" alt="petit chaton si mignon" style="width:25%; height: auto">-->
          <%i = 0%>
          <%while i < @cartitems_length do %>
          <img src="<%=@items_url_array[i]%>" alt="petit chaton si mignon" style="width:25%; height: auto">
          <%i = i+1%>
          <% end %>
       <br>
      au prix de : <%=@items_url_price.inject(0){|sum,x| sum + x }%> €.
    </p>

    <p> Bonne journée chef !
  </body>
</html>
<!--Il faut envoyer un email à l'administrateur du site (email décidé arbitrairement en attendant la classe "admin"), qui fait un récapitulatif de la commande qui vient d'être faite.-->