<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut Administrateur une nouvelle commande a été passé</h1>
    <p>
      Une commande a été passé chez <%=@url%> avec l'e-mail suivant : <%=@user.email%>.
      <br>
      le numéro de commande est : <%=@order_id%>
    </p>
    <p>
      Le client s'appelle <%=@user.first_name%> <%=@user.last_name%>.
    </p>
    <p> Bonne journée chef !
  </body>
</html>
<!--Il faut envoyer un email à l'administrateur du site (email décidé arbitrairement en attendant la classe "admin"), qui fait un récapitulatif de la commande qui vient d'être faite.-->