<br><br><br><br><br><br>

<div class="container">
  <div class="card shadow-lg">
    <div class="row">
      <div class="col-8">
        <img style="height: 100%; width: 100%; display: block;" src='<%= @item.image_url %>' alt="Card image">
      </div>
      <div class="col-4"><br>
        <h1 class="title is-2"><%= @item.title%></h1>
        <hr>
        <div class="card-body">
          <p><%= @item.description%></p>
        </div><br>
        <div class="card-footer">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Nom : <%= @item.title%></li>
            <li class="list-group-item">Prix : <%= @item.price%>€</li>
            <a href="#" class="btn btn-primary">Mettre au panier</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div><br><br>