<br>
<br>
<br>
<br>


<h1>Items#show</h1>
<p>Find me in app/views/items/show.html.erb</p>

<img src=“<%= @item.image_url %>“>
<h1><%= @item.title%></h1>
<p><%= @item.description%></p>
<p><%= @item.price%></p>


<%= form_for @item, url: :cart, html: { method: :put } do |f| %>
 

  <div >
    <%= f.hidden_field :'id' %>
  </div>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>