
<div class="container">
  <div class="card shadow-lg">
    <div class="row">
      <div class="col-8">
        <img style="height: 100%; width: 100%; display: block;" src='<%= @item.image_url %>' alt="Card image">
      </div>
      <div class="col-4"><br>
        <h1 class=" text-center" style="color:#635255; font-size:30px;font-family: 'Hammersmith One', sans-serif;"><%= @item.title%></h1>
        <hr>
        <div class="card-body">
          <p><%= @item.description%></p>
        </div><br>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nom : <%= @item.title%></li>
          <li class="list-group-item">Prix : <%= @item.price%>€</li>
          <li class="list-group-item"><%= form_for @item, url: :cart, html: { method: :put } do |f| %>
            <div >
              <%= f.hidden_field :'id' %>
            </div>
            <div class="actions">
              <button type="submit" class="btn btn-outline-dark">
              <img style="height: 60px; width: 60px" src='https://image.flaticon.com/icons/svg/126/126083.svg'> Ajouter au panier
              </button>
            </div>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</div><br><br>
