<br><br><br><br><br><br><br>
<div class="container">
  <div class="card shadow-lg">
    <div class="row">
      <div class="col-8">

        <% if @item.image.attached?%>
            <%= image_tag @item.image, alt: 'Card image', style: "height: 100%; width: 100%; display: block;" %>
        <% else %>
        <img style="height: 100%; width: 100%; display: block;" src='<%= @item.image_url %>' alt="Card image">
        <% end %>
      </div>
      <div class="col-4"><br>
        <h1 class=" text-center" style="color:#635255; font-size:30px;font-family: 'Hammersmith One', sans-serif;"><%= @item.title%></h1>
        <hr>
        <div class="card-body">
          <p><img height="40px" width="40px" src="https://image.flaticon.com/icons/svg/107/107979.svg"><br><%= @item.description%></p>
        </div><br>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nom : <%= @item.title%></li>
          <li class="list-group-item">Prix : <%= @item.price%>€</li>
          <li class="list-group-item">
          <%= form_for @item, url: :cart, html: { method: :put } do |f| %>
            <div>
              <%= f.hidden_field :'id' %>
            </div><br>
            <div class="actions">
              <button type="submit" class="btn btn-outline-dark">
              <img style="height: 40px; width: 40px" src='https://image.flaticon.com/icons/svg/982/982526.svg'><a> | Ajouter au panier</a>
              </button>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<br><br><br>
