<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Source+Code+Pro&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Atomic Kitten</title>
    <%= favicon_link_tag 'logo.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/" style="text-decoration:none">
      <img height="40px" width="40px" src="https://image.flaticon.com/icons/svg/107/107979.svg">
        <strong><h1>ATOMIC KITTEN</h1></strong>
      <a class="navbar-item">
        <h3> | </h3>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">

          <a class="navbar-item" href="/items" style="color:inherit;text-decoration:none;">
            Showroom
          </a>

          <a class="navbar-item" href="https://www.la-spa.fr/adoption-chat" style="color:inherit;text-decoration:none;" target="#_blank">
          Adoptez un chat
          </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item">
            A propos
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item drop" href="/team" style="text-decoration:none;">
              Qui sommes-nous?
            </a>
            <a class="navbar-item drop" href="/contact" style="text-decoration:none;">
              Contactez-nous
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="cart" href="<%= carts_path %>">
            <img class="navbar-brand" height="40px" width="40px" src="https://image.flaticon.com/icons/svg/982/982529.svg">
          </a>
          <div class="navbar-dropdown is-right">
            <% if user_signed_in? %>
              <% if current_user.items.length < 1 %>
                <a class="navbar-item drop" href="" style="text-decoration:none;" >Aucun article</a>
              <% else %>
                <% current_user.items.each do |item| %>
                  <a class="navbar-item drop" href="<%= carts_path %>" style="text-decoration:none;">
                  <%= image_tag(item.image_url, :size => "40x80")%><em><%= item.title %></em></a>
                  <hr class="dropdown-divider">
                <% end %>
               <a class="navbar-item drop title is-6" href="<%= carts_path %>"  style="text-decoration:none;">Voir le panier :
               <img class="navbar-brand shop" height="35px" width="35px" src="https://image.flaticon.com/icons/svg/897/897295.svg">
               </a>
              <% end %>
            <% else %>
              <a class="navbar-item drop" style="text-decoration:none;" <%= link_to "Connecte-toi d'abord !", edit_user_registration_path %></a>
            <% end %>
          </div>
        </div>

          <% if user_signed_in? %>

          <div class="navbar-item has-dropdown is-hoverable">

            <a class="avatar">
              <img class="navbar-brand" height="40px" width="40px" src="https://image.flaticon.com/icons/svg/145/145842.svg">
            </a>

            <div class="navbar-dropdown is-right">
              <a class="navbar-item drop" style="text-decoration:none;" <%= link_to "Mes commandes", order_index_path %> </a>
              <a class="navbar-item drop" style="text-decoration:none;" <%= link_to "Mon profil", edit_user_registration_path %> </a>
                <% if current_user.is_admin %>
                  <a class="navbar-item drop" style="text-decoration:none;" <%= link_to "Espace Admin", admin_root_path %></a>
                <% end %>
              <a class="navbar-item drop" href="<%= destroy_user_session_path %>" data-confirm="Êtes-vous sûr ?" data-method="DELETE">Se déconnecter</a>
            </div>

          </div>

          <% else %>

          <div class="navbar-item has-dropdown is-hoverable">

            <a class="avatar">
              <img class="navbar-brand" height="40px" width="40px" src="https://image.flaticon.com/icons/svg/1177/1177568.svg">
            </a>

            <div class="navbar-dropdown is-right">
              <a class="navbar-item drop" style="text-decoration:none;"<%= link_to "Se connecter", new_user_session_path %></a>
              <a class="navbar-item drop" style="text-decoration:none;"<%= link_to "S'inscrire", new_user_registration_path %></a>
            </div>

          </div>

          <% end %>
          </div>
        </div>
  </nav>
    <%= yield %>
  </body>
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>A propos</h6><br>
          <p class="text-justify">Vous êtes en manque d'amour ?<br> Commandez dès maintenant les photos de chatons les plus mignonnes de votre région !</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>En plus</h6><br>
          <ul class="footer-links">
            <li><a href="/team">La team</a></li>
            <li><a href="/contact">Contactez-nous</a></li>
            <li><a href="https://www.la-spa.fr/adoption-chat" target="#_blank">Adoptez un chat !</a></li>

          </ul>
        </div>
      
        <div class="col-xs-4">
          <a href="/">
          <%= image_tag("footer.png" , :size => "160x180") %>
          </a>
        </div>

      </div>

      <hr>
      <div class="container">
       <div class="row">
         <div class="col-md-8 col-sm-6 col-xs-12">
           <p class="copyright-text">Copyright &copy; Atomic Kitten</p>
         </div>

         <div class="col-md-4 col-sm-6 col-xs-12">
           <ul class="social-icons">
             <li><img class="github" height="30px" width="30px" src="https://image.flaticon.com/icons/svg/25/25231.svg"></li>
             <li><img class="linkedin" height="30px" width="30px" src="https://image.flaticon.com/icons/svg/1384/1384014.svg"></li>
             <li><img class="insta" height="30px" width="30px" src="https://image.flaticon.com/icons/svg/1384/1384015.svg"></li>
           </ul>
         </div>
       </div>
     </div>
    </div>
</footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
