<!DOCTYPE html>
<html>
  <head>
  <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Source+Code+Pro&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Atomic Kitten</title>
    <%= favicon_link_tag 'logo.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type="text/css">
    .ml5 {
    position: relative;
    font-weight: 300;
    font-size: 4.5em;
    color: #402d2d;
  }

  .ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }

  .ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #402d2d;
    transform-origin: 0.5 0;
  }

  .ml5 .ampersand {
    font-family: Baskerville, "EB Garamond", serif;
    font-style: italic;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
  }

  .ml5 .letters {
    display: inline-block;
    opacity: 0;
  }

  .ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }

  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .jumbotron {
    background-image: url(/assets/jumbo.jpeg);
    background-size: cover;  
    height: 800px;
    margin-bottom: -5px;
    color: whitesmoke;
  }

  .jumbotron1 {
    background-size: cover;
    height: 400px;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  :root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }

  .login,
  .image {
    min-height: 100vh;
  }

  .bg-image {
    background-image: url('https://images.pexels.com/photos/3069334/pexels-photo-3069334.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
  }

  .bg-image2 {
    background-image: url('https://images.pexels.com/photos/320014/pexels-photo-320014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
  }

  .login-heading {
    font-weight: 300;
  }

  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }

  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }

  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
  }

  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }

  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-moz-placeholder {
    color: transparent;
  }

  .form-label-group input::placeholder {
    color: transparent;
  }

  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }

  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  /* Fallback for Edge
  -------------------------------------------------- */

  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }

  /* Fallback for IE
  -------------------------------------------------- */

  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }

  .site-footer
  {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
    bottom: 0px;
    width: 100%;
    position: inherit;

  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#00aced
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }

  body {
    font-family: 'Didact Gothic', sans-serif;
    background-color: #E9E7E8;
    height: 100%;
  }

  .container-fluid {
    background-color: #E9E7E8;
  }

  .navbar {
    height: 65px;
    background-color: #33353d;
    color: whitesmoke;
  }

  .navbar-link {
    color: black;
  }

  .navbar-item {
    color: whitesmoke;
  }

  .drop {
  color: black;
  }

  h1 {
    color: #DABECA;
  }

  :root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }


  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .card-signin .card-img-left {
    width: 45%;
    background: scroll center url('https://images.pexels.com/photos/2614/night-animal-pet-eyes.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
  }

  .card-signin .card-body {
    padding: 2rem;
  }

  .cart {
  margin-right: 15px;
  }

  .avatar {
    margin-right: 10px;
  }

  .shop {
    margin-left: 20px;
  }

  /* CART */
  @media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }

  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }

  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }

  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}
  }
    </style>

  </head>

  <body>

  <nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/" style="text-decoration:none">
      <img height="40px" width="40px" src="https://image.flaticon.com/icons/svg/107/107979.svg">
        <strong><h1>ATOMIC KITTEN</h1></strong>
      <a class="navbar-item">
        <h3> | </h3>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">

          <a class="navbar-item" href="/items" style="color:inherit;text-decoration:none;">
            Showroom
          </a>

          <a class="navbar-item" href="https://www.la-spa.fr/adoption-chat" style="color:inherit;text-decoration:none;" target="#_blank">
          Adoptez un chat
          </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item">
            A propos
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item drop" href="/team" style="text-decoration:none;">
              Qui sommes-nous?
            </a>
            <a class="navbar-item drop" href="/contact" style="text-decoration:none;">
              Contactez-nous
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="cart" href="<%= carts_path %>">
            <img class="navbar-brand" height="40px" width="40px" src="https://image.flaticon.com/icons/svg/982/982529.svg">
          </a>
          <div class="navbar-dropdown is-right">
            <% if user_signed_in? %>
              <% if current_user.items.length < 1 %>
                <a class="navbar-item drop" href="" style="text-decoration:none;" >Aucun article</a>
              <% else %>
                <% current_user.items.each do |item| %>
                  <a class="navbar-item drop" href="<%= carts_path %>" style="text-decoration:none;">
                  <%= image_tag(item.image_url, :size => "40x80")%><em><%= item.title %></em></a>
                  <hr class="dropdown-divider">
                <% end %>
               <a class="navbar-item drop title is-6" href="<%= carts_path %>"  style="text-decoration:none;">Voir le panier :
               <img class="navbar-brand shop" height="35px" width="35px" src="https://image.flaticon.com/icons/svg/897/897295.svg">
               </a>
              <% end %>
            <% else %>
              <a class="navbar-item drop" style="text-decoration:none;" <%= link_to "Connecte-toi d'abord !", edit_user_registration_path %></a>
            <% end %>
          </div>
        </div>

          <% if user_signed_in? %>

          <div class="navbar-item has-dropdown is-hoverable">

            <a class="avatar">
              <img class="navbar-brand" height="40px" width="40px" src="https://image.flaticon.com/icons/svg/145/145842.svg">
            </a>

            <div class="navbar-dropdown is-right">
              <a class="navbar-item drop" style="text-decoration:none;" <%= link_to "Mon profil", edit_user_registration_path %> </a>
                <% if current_user.is_admin %>
                  <a class="navbar-item drop" style="text-decoration:none;" <%= link_to "Espace Admin", admin_root_path %></a>
                <% end %>
              <a class="navbar-item drop" href="<%= destroy_user_session_path %>" data-confirm="Êtes-vous sûr ?" data-method="DELETE">Se déconnecter</a>
            </div>

          </div>

          <% else %>

          <div class="navbar-item has-dropdown is-hoverable">

            <a class="avatar">
              <img class="navbar-brand" height="40px" width="40px" src="https://image.flaticon.com/icons/svg/1177/1177568.svg">
            </a>

            <div class="navbar-dropdown is-right">
              <a class="navbar-item drop" style="text-decoration:none;"<%= link_to "Se connecter", new_user_session_path %></a>
              <a class="navbar-item drop" style="text-decoration:none;"<%= link_to "S'inscrire", new_user_registration_path %></a>
            </div>

          </div>

          <% end %>
          </div>
        </div>
  </nav>
    <%= yield %>
  </body>
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>A propos</h6><br>
          <p class="text-justify">Vous êtes en manque d'amour ?<br> Commandez dès maintenant les photos de chatons les plus mignonnes de votre région !</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>En plus</h6><br>
          <ul class="footer-links">
            <li><a href="/team">La team</a></li>
            <li><a href="/contact">Contactez-nous</a></li>
            <li><a href="https://www.la-spa.fr/adoption-chat" target="#_blank">Adoptez un chat !</a></li>

          </ul>
        </div>
      
        <div class="col-xs-4">
          <a href="/">
          <%= image_tag("footer.png" , :size => "160x180") %>
          </a>
        </div>

      </div>

      <hr>
      <div class="container">
       <div class="row">
         <div class="col-md-8 col-sm-6 col-xs-12">
           <p class="copyright-text">Copyright &copy; Atomic Kitten</p>
         </div>

         <div class="col-md-4 col-sm-6 col-xs-12">
           <ul class="social-icons">
             <li><img class="github" height="30px" width="30px" src="https://image.flaticon.com/icons/svg/25/25231.svg"></li>
             <li><img class="linkedin" height="30px" width="30px" src="https://image.flaticon.com/icons/svg/1384/1384014.svg"></li>
             <li><img class="insta" height="30px" width="30px" src="https://image.flaticon.com/icons/svg/1384/1384015.svg"></li>
           </ul>
         </div>
       </div>
     </div>
    </div>
</footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
